@{
    Layout = "";
}
@using Nop.Web.Framework;
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>@T("Nop.Payments.Privat24.RedirectionTip")</b>
            <br />
            <img id="privat24Image" alt="" src="@Url.Content("~/Plugins/Nop.Payments.Privat24/Images/api_logo_2.jpg")"/>
        </td>
    </tr>
</table>

